{% extends "layout.html" %}

{% block body %}
<h3>Makaleler</h3>
<hr>

{% if articles %}
{% for article in articles  %}
    <div class="container mt-5">
<div class="row">
<div class="col-lg-8">
<!-- Post content-->
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <a href="{% url 'article:article_detail' article.id %}"><h1 class="fw-bolder mb-1">{{article.title}}</h1></a>
        <p class = "lead">by {{article.author.username}}</p>
        <!-- Post meta content-->
        <hr>
        <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>
        <hr>
    </header>
    <!-- Preview image figure-->
    {% if article.article_image %}
    <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..."></figure>
    {% endif %}
    <!-- Post content-->
    <section class="mb-5">
        {{article.content|safe}}
    </section>
</article>

</div>
</div>
</div>
{% endfor %}

{% else %}
<div class = "alert alert-danger"> Herhangi bir makale bulunmuyor</div>
{% endif %}

{% endblock body %}
